body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    /* Use Roboto Flex */
}

/* Navbar Style */
.navbar {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap onto the next line */
    justify-content: space-between;
    padding: 20px;
    color: white;
    align-items: center;
}

/* Logo and Navigation Links Container */
.left-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Allow items to wrap onto the next line */
}

/* Logo Style */
.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/* Navbar Links Style */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding-top: 10px;
    flex-wrap: wrap;
    /* Allow items to wrap onto the next line */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Navbar Button Style */
.registration-button {
    background-color: orange;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    /* Adjust margin as needed */
}

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content Style */
.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    /* Increase the width percentage as needed */
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
}

/* Close Button Style */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* Title Card Section Style */
.title-card-section {
    background-image: url(../title.png);
    background-position: center;
    /* or background-position: cover; */
    text-align: center;
    padding: 70px;
    /* Increase the padding to adjust the height */
}

/* Title Card Style */
.title-card {
    background-color: black;
    /* Choose a background color that matches well */
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}

/* Title Text Style */
.title-text {
    font-size: 2em;
    font-weight: bold;
    color: white;
    /* Choose a text color that matches well */
}

/* Add this style to your CSS */
.title-text a {
    text-decoration: none;
    color: white;
}

/* animation: glow 4s infinite linear; */


@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    }

    16.66% {
        text-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
    }

    33.33% {
        text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
    }

    50% {
        text-shadow: 0 0 10px rgba(0, 128, 0, 0.8);
        box-shadow: 0 0 10px rgba(0, 128, 0, 0.8);
    }

    66.66% {
        text-shadow: 0 0 10px rgba(0, 0, 255, 0.8);
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.8);
    }

    83.33% {
        text-shadow: 0 0 10px rgba(75, 0, 130, 0.8);
        box-shadow: 0 0 10px rgba(75, 0, 130, 0.8);
    }

    100% {
        text-shadow: 0 0 10px rgba(148, 0, 211, 0.8);
        box-shadow: 0 0 10px rgba(148, 0, 211, 0.8);
    }
}

/* Carousel Section Style */
.carousel-section {
    overflow: hidden;
    position: relative;
    height: 400px;
    /* Set the height of your carousel section */
}

/* Carousel Container Style */
.carousel-container {
    display: flex;
    width: 300%;
    /* Adjust based on the number of images */
    transition: transform 0.5s ease-in-out;
}

/* Individual Carousel Image Style */
.carousel-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Additional Media Query for Smaller Screens */
@media screen and (max-width: 765px) {
    .navbar {
        flex-direction: column;
        /* Change to column layout on smaller screens */
    }

    .left-container {
        margin-bottom: 10px;
        /* Add margin between logo/links and button in mobile view */
    }

    .registration-button {
        width: 100%;
        /* Make the button take up full width in mobile view */
    }
}

/* Additional Media Query for Smaller Screens */
@media screen and (max-width: 765px) {
    .navbar {
        flex-direction: column;
        /* Change to column layout on smaller screens */
    }

    .left-container {
        margin-bottom: 10px;
        /* Add margin between logo/links and button in mobile view */
    }

    .registration-button {
        width: 100%;
        /* Make the button take up full width in mobile view */
    }

    .title-card-section {
        padding: 30px;
        /* Increase the padding to adjust the height for mobile view */
    }
}